<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interlogica's challenge!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="text-center">
        <p><h1>The challenge of South African telephone numbers!</h1>
    </div>
    <br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <form method="post" action="/validatenumber">
        <div class="container w-25">
            <div class="row align-items-start">
                <label for="formCheckNumber" class="form-label"><h5>Insert South Africa's phone number:</h5></label>
                <input class="form-control form-control-lg" id="formCheckNumber" name="enteredNumber" type="text" placeholder="">
            </div>
            <div class="row align-items-start">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Check</button>
            </div>
            <br>
            <div style="display: block;">
                <h5 class="text-success" th:if="${number.isCorrect() and !number.isModified()}" th:text="${number.getAnnotation()}"></h5>
                <h5 class="text-success" th:if="${number.isCorrect() and number.isModified()}" th:text="${'The number is correct! Applied correction: ' + number.getNumber()}"></h5>
                <h5 class="text-danger" th:if="${!number.isCorrect()}" th:text="${number.getAnnotation()}"></h5>
            </div>
            <br>
        </div>
    </form>
    <form method="post" action="/validatenumbers" enctype="multipart/form-data">
        <div class="container w-25">
            <div class="row align-items-start">
                <label for="formInputFile" class="form-label"><h5>File input:</h5></label>
                <input class="form-control form-control-lg" id="formInputFile" name="file" multiple type="file">
            </div>
            <div class="row align-items-start">
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Upload Files">Upload</button>
            </div>
        </div>
    </form>
</body>
</html>