<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Uplaod Status</title>
</head>
<body>
<div th:if="${msg}">
    <span th:text="${msg}"></span>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            Colonna 1:
            <option th:each="p:${listNumbers}" th:text="${p.getNumber()}"></option>
        </div>
        <div class="col">
            Colonna 2:
            <option th:each="p:${listNumbers}" th:text="${p.getAnnotation()}"></option>
        </div>
    </div>
</div>
</body>
</html>